.wrapper {
  font-weight: 600;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;

  &.default {
    background-color: #333974;
  }

  &.complete {
    background-color: #5cb85c;
  }

  &.remove {
    background-color: #d9534f;
  }

  &:hover {
    opacity: 1;
  }
}